 *{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}



body{

background:#f1f5ff;

}



header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 8%;

background:white;

box-shadow:0 3px 10px rgba(0,0,0,.1);

}



.logo{

color:#2563eb;

}



header a{

text-decoration:none;

color:#2563eb;

font-weight:600;

}



.dashboard{

padding:50px 8%;

text-align:center;

}



.dashboard h1{

font-size:40px;

color:#1e3a8a;

}



.dashboard p{

margin-top:10px;

color:#555;

}



.search-card{

background:white;

margin:40px auto;

padding:35px;

max-width:500px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.1);

}



.search-card h2{

color:#2563eb;

margin-bottom:20px;

}



label{

display:block;

text-align:left;

margin-top:15px;

font-weight:500;

}



select{

width:100%;

padding:12px;

margin-top:8px;

border-radius:8px;

border:1px solid #ccc;

}



button{

margin-top:25px;

padding:14px 30px;

border:none;

border-radius:25px;

background:#2563eb;

color:white;

cursor:pointer;

font-size:16px;

}



button:hover{

background:#1d4ed8;

}



.info-cards{

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

}



.card{

background:white;

padding:25px;

width:280px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}



.card h3{

color:#2563eb;

margin-bottom:10px;

}