*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}

body{

background:#eef4ff;

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

}

.container{

width:100%;

display:flex;

justify-content:center;

align-items:center;

padding:20px;

}

.login-box{

width:420px;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.12);

}

.login-box h1{

color:#2563eb;

text-align:center;

margin-bottom:10px;

}

.login-box p{

text-align:center;

margin-bottom:30px;

color:#666;

}

label{

display:block;

margin-top:15px;

margin-bottom:8px;

font-weight:500;

}

input{

width:100%;

padding:14px;

border:1px solid #ccc;

border-radius:10px;

font-size:15px;

outline:none;

}

input:focus{

border:1px solid #2563eb;

}

button{

width:100%;

padding:14px;

margin-top:30px;

border:none;

border-radius:30px;

background:#2563eb;

color:white;

font-size:16px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#1d4ed8;

}

.register-text{

margin-top:25px;

text-align:center;

}

.register-text a{

text-decoration:none;

color:#2563eb;

font-weight:600;

}

@media(max-width:500px){

.login-box{

width:95%;

padding:30px;

}

}