*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    text-align:center;
}

header{
    background:#0057b8;
    color:white;
    padding:30px;
}

.hero{
    padding:60px 20px;
}

.hero h2{
    margin-bottom:20px;
}

button{
    margin-top:25px;
    padding:12px 25px;
    font-size:18px;
    cursor:pointer;
}

footer{
    margin-top:60px;
    background:#222;
    color:white;
    padding:20px;
}